@using ISE309_ProjeOdev_B181200028_B181200039.Models.Sınıflar
@model List<Blog>
<div class="padding">
    <h4>En Popüler 10 Blog</h4>
    
    <ul class="list list-pad">
        @{ int i = 0;}
        @foreach (var x in Model)
        {
            <li class="list-bg"><span>@{i++;} @i.</span><a href="/Blog/BlogDetay/@x.ID">@x.Baslik</a></li>
        }
        </ul>
    
    <a href="/Blog/Index/" class="link1">Tüm Blogları Görmek İçin Tıklayınız >> </a>
</div>