<div class="content-form">

    <h3>Bir Yorum Yapın</h3>
    
    <form method="Post">
        <input type="hidden" placeholder="ID" name="Blogid" value="@ViewBag.deger" required  />
        <input type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />
        <input type="text" placeholder="Email Adresi" name="Mail" required />
        <textarea placeholder="Yorum" name="Yorum"></textarea>
        <input type="Submit" value="Gönder" />



    </form>
</div>
